[submodule "Dependencies/Kentico-9.0"]
	path = Dependencies/Kentico-9.0
	url = https://github.com/Ntara/Kentico.Dependencies.git
[submodule "Dependencies/Kentico-10.0"]
	path = Dependencies/Kentico-10.0
	url = https://github.com/Ntara/Kentico.Dependencies.git
